@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #b45309;
    --extra-light: #f3f4f6;
    --max-width: 1200px;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*contact*/
.background{
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.416) url(assets/landing.2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #f0f0f0;
    background-blend-mode: soft-light;
    filter: blur(5px);
}
.content{
    color: var(--extra-light);
    margin-top: 200px;
    text-align: center;
}
.content h1{
    font-size: 95px;
    margin-bottom: 10px;
}
.content p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
/*contact end*/
body{
    font-family: "Poppins", sans-serif;
}

nav{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    padding: 2rem 1rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.nav_logo{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--extra-light);
}

.nav_links{
    list-style: none;
    gap: 2rem;
    display: none;
}

.nav_links a{
    padding: 1rem;
    text-decoration: none;
    color: var(--extra-light);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

a.book_an_contact_btn{
    padding: 0.5rem 2rem;
    border: 2px solid var(--extra-light);
    position: relative;
}

.book_an_contact_btn::before{
    content: "";
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--primary-color), rgb(0, 0, 0, 0));
}

header{
    background-image: url("assets/landing.img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header_container{
    position: relative;
    min-height: 175vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 0 1rem;
}

.header_content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header_content h1{
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    color: var(--extra-light);
}

.header_content h1 span{
    color: var(--primary-color);
}

p{
    margin-top: 1rem;
    color: var(--extra-light);
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
}

.header_content .book_an_appointment{
    text-decoration: none;
    margin-top: 2rem;
    color: var(--extra-light);
    font-weight: 600;
    position: relative;
}

.header_content .book_an_appointment::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 120px;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--primary-color) rgb(0, 0, 0, 0));
}

.footer_cards{
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: end;
}

.card{
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.1);
    color: var(--extra-light);
    height: max-content;
    cursor: pointer;
    transition: 0.5s;
}

.card h4{
    font-size: 1.5rem;
    font-weight: 300;
}

.card h5{
    font-size: 1rem;
    font-weight: 500;
}

.card p{
    margin-top: 1.2rem;
    font-size: 0.9rem;
    transition: 0.3s;
}

@media (min-width: 640px) {
    .header_container{
        min-height: 150vh;
    }

    .header_content{
        align-items: flex-start;
        text-align: left;
    }

    .header_content h1{
        font-size: 4rem;
        line-height: 5rem;
    }

    .footer_cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 780px) {
    .nav_links{
        display: flex;
    }

    .header_container{
        min-height: 100vh;
    }

    .header_content h1{
        font-size: 5rem;
        line-height: 6rem;
    }

    .footer_cards{
        grid-template-columns: repeat(6, 1fr);
    }

    .card:hover{
        height: 250px;
    }
}
